* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    background-color: #000000;
    color: #fff;
}

#navbar__container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.navbar__container-left {
    display: flex;
    justify-content: center;
    width: 13%;
}

.navbar__container-left span {
    margin: 8px 0 0 auto;
}

.navbar__container-left h3 {
    margin: 6px 8px 0 0;
}

.vertical_line {
    margin: 0.4rem 0;
    border-left: 2px solid white;
}

.navbar__container-right button {
    border-radius: 0.3rem;
    padding: 0.5rem 1.3rem;
    margin: 0 0.1rem;
}

#navbar__container-right--submit {
    border: 1px solid white;
    background-color: #171717;
    color: #fff;
}

#navbar__container-right--signin {
    color: #fff;
    background-color: #4C5FD5;
}

#header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dadbf1;
    min-height: 50vh;
}

#header__container-text {
    font-size: 2rem;
}

#header__container-input {
    margin-top: 1rem;
}

#header__container-input--field {
    border: 1px solid #868484;
    border-radius: 4px;
    padding: 1rem;
    width: 600px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section__container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
}

#section__container div {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    line-height: 1.5;
}

#section__container div p {
    margin-bottom: 0.8rem;
}

#footer__container {
    height: 40vh;
    background-color: #000000;
    color: #fff;
    display: flex;
}

#footer__container div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.5;
}

#footer__container div p {
    margin-top: 0.5rem;
}

#footer__container span {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    line-height: 1.5;
}

#footer__container span h2 {
    font-size: 0.8rem;
}